absl-py==2.2.2
aiosignal==1.3.2
async-timeout==5.0.1
attrs==25.3.0
cachetools==5.5.2
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
cloudpickle==3.1.1
dm-tree==0.1.9
Farama-Notifications==0.0.4
filelock==3.18.0
frozenlist==1.6.0
fsspec==2025.3.2
google-api-core==2.24.2
google-api-python-client==2.167.0
google-auth==2.39.0
google-auth-httplib2==0.2.0
googleapis-common-protos==1.70.0
grpcio==1.71.0
gymnasium==0.28.1
hiredis==2.0.0
httplib2==0.22.0
idna==3.10
imageio==2.37.0
influxdb-client==1.48.0
inotify==0.2.10
inotify-simple==1.3.5
jax-jumpy==1.0.0
Jinja2==3.1.6
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
lazy_loader==0.4
logger==1.4
lz4==4.4.4
Markdown==3.8
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdclogpy==1.1.4
mdurl==0.1.2
mpmath==1.3.0
msgpack==1.1.0
networkx==3.4.2
nose==1.3.7
numpy==1.26.4
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu12==12.3.1.170
nvidia-cusparselt-cu12==0.6.2
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.4.127
packaging==25.0
pandas==2.2.3
pillow==11.2.1
proto-plus==1.26.1
protobuf==3.20.3
pyarrow==19.0.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycrate==0.7.8
Pygments==2.19.1
pyparsing==3.2.3
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
ray==2.9.3
reactivex==4.0.4
redis==4.3.6
referencing==0.36.2
requests==2.32.3
rich==14.0.0
ricsdl==3.1.3
rpds-py==0.24.0
rsa==4.9.1
scikit-image==0.25.2
scipy==1.15.2
shellingham==1.5.4
six==1.17.0
sympy==1.13.1
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
tifffile==2025.3.30
torch==2.6.0
torch-tb-profiler==0.4.3
triton==3.2.0
typer==0.15.2
typing_extensions==4.13.2
tzdata==2025.2
uritemplate==4.1.1
urllib3==2.4.0
Werkzeug==3.1.3
wrapt==1.17.2